/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.spacer {
    flex: 1 1 auto;
}

body {
    margin: 0 auto;
    font-family: 'Roboto';
}

.item-spacer {
    padding: 0 14px;
}

.expand {
    width: 90%;
    margin-left: 3%;
}

.h {
    height: 370px;
    overflow: scroll;
}